$xtra-xtra-small-padding: 8px;
$xtra-small-padding: 12px;
$small-padding: 16px;
$medium-padding: 24px;
$large-padding: 36px;
$xtra-large-padding: 40px;
$xtra-xtra-large-padding: 48px;

$xtra-xtra-small-font-size: 14px;
$xtra-small-font-size: 16px;
$small-font-size: 18px;
$medium-font-size: 20px;
$large-font-size: 22px;
$xtra-large-font-size: 25px;
$xtra-xtra-large-font-size: 35px;

$navigation-height: 70px;
$breakpoint-sm: 576px;
$max-width-container: 950px;
